nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px 20px;
}

nav .navLink {
    font-weight: bold;
    color: #2c3e50;
}

nav .navLink:hover {
    color: #42b983;
}

.navItem {
    text-decoration: none;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.mainNavItem {
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
    margin: 0 5px;
}
.mainNavItem:hover {
    text-decoration: underline;
}

.LogoImage {
    max-width: 100%;
    width: 200px;
}

.mainNavLink {
    display: flex;
    align-items: center;
}

.navIcon {
    font-size: 1rem;
    margin: 0 5px;
}

@media (max-width: 520px) {
    nav {
        padding: 15px 20px;
    }

    .LogoImage {
        width: 200px;
    }
}  