nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

nav .navLink {
    font-weight: bold;
    color: #2c3e50;
}

nav .navLink:hover {
    color: #42b983;
}

.navItem {
    text-decoration: none;
    margin-right: 0.5rem;
}

.navItem:hover {
    text-decoration: underline;
}

/* .mainNavItem {
    text-decoration: none;
    margin-right: 10px;
    display: flex;
    gap: 5px;
} */

.LogoImage {
    max-width: 100%;
    width: 200px;
}

.mainNavLink {
    display: flex;
    align-items: center;
}

@media (max-width: 485px) {
    .navItem {
        flex-direction: row;
    }
}

@media (max-width: 520px) {
    nav {
        padding: 15px 20px;
    }

    .LogoImage {
            width: 200px;
    }
}  