.container {
    margin-bottom: 250px;
}

.title {
    color: #00bc77;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 10rem;
    margin-top: 66px;
}
  
.title-text {
    color: #00bc77;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 66px;
    margin-bottom: 60px;
}
  
.title-return {
    color: rgba(255, 1, 1, 1);
    font-family: "Roboto", sans-serif;
    font-size: 1.12rem;
    font-weight: 500;
    padding-bottom: 80px;
    text-decoration: underline;
}